.App{
  padding: 50px;

}

.Icons-rest{
  position: relative;
  z-index: 1;
  top: 45px;
  left: 50px;
  border: 1px solid rgb(152, 149, 149);
  padding: 3px;
  background-color: white;
  border-radius: 5px;

}
.marker-icon{
  font-size:x-small;
}

.close-Button{
margin-left: 390px;
margin-top: -25px;
cursor: pointer;
}


.MainCointer{
background-color: white;
width: 28%;
height: 81%;
position: absolute;
z-index: 100;
overflow-y: scroll;
padding: 5px;
}
.closeBtn{
  margin-right: 20px;
  cursor: pointer;
}

.Container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.details-contaner{
  display: flex;
  align-items:center ;
  justify-content: space-evenly;
  gap: 5px;
}
.Maindetails{
 display: grid;
 grid-template-columns: repeat(2, 48%);
 gap: 25px;
}